/* @override http://popgalaxy.com/media/style/style.css */
body {
	background: url(/media/images/maxim_bg.jpg) no-repeat #252525;
	font-family: Rocky, sans-serif;
	-o-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
}
