{% extends "base_subpage.html" %}
{% load threadedcommentstags %}

{% block pagetitle %}
	Pop Galaxy : {{ object.title }}
{% endblock %}

{% block adblock %}
	{% include "inc/adbox_blog_top.html" %}
{% endblock %}

{% block content %}
<!--BEGIN MAIN COLUMN CONTENT-->
<div id="maincol">

<div id="blogEntry"><!-- START BLOG ENTRY -->
	<div class="resultsTitle">Blog</div>
	
	<div class="entryTitle">{{ object.title }}</div>
	<div class="entryDetails">
		<span class="entryDate">{{ object.pub_date|date:"m/d/Y" }}</span> {{ object.body_html|safe }}
	</div>

</div><!-- END BLOG ENTRY -->
{% comment %}
<!-- 
<div id="commentsList">
	<h2>Comments</h2>
	{% load comments %}
	{% get_comment_count for object as comment_count %}
	{% load markup %}
	{% get_comment_list for object as comment_list %}
	
	<span class="commentCount">Comment{{ comment_count|pluralize }}: {{ comment_count }}</span>
	{% for comment in comment_list %}
	<p>On {{ comment.submit_date|date:"F j, Y" }},
		{{ comment.name }} wrote:</p>
		
	{{ comment.comment|markdown:"safe" }}
	{% endfor %}
</div>

<div id="commentsEntry">
	<h2>Post a comment</h2>
	{% render_comment_form for object %}
</div>
-->
{% endcomment %}

{% get_comment_count for object as comment_count %}
<div class="comment-block">
    {% if user.is_authenticated %}
    <a class="post-comment">+ POST</a>
    {% else %}
    <div>
        Login or Signup
    </div>
    {% endif %}
    <span style="color: #fff;">COMMENTS ({{ comment_count }})</span>
    {% get_threaded_comment_tree for object as tree %}
    {% for comment in tree %}
        <div class="comment">
            <span class="comment-name">{{ comment.user.username }}</span>
            <span class="comment-when">{{ comment.date_submitted|timesince }} ago</span>
            <p class="comment-body">
            {{ comment }}
            </p>
            {% if user.is_authenticated %}
            <a id="c{{ comment.id }}" href="javascript:show_reply_form('c{{ comment.id }}', '{% get_comment_url object comment %}', '{{ comment.user.username }}')">Reply</a>
            {% endif %}
        </div>
    {% endfor %}
            
{% comment %}
    <p>Reply to Original:</p>
    <form method="POST" action="{% get_comment_url object %}">
        <ul>
            {% get_threaded_comment_form as form %}
            {{ form.as_ul }}
            <li><input type="submit" value="Submit Comment" /></li>
        </ul>
    </form>
{% endcomment %}


<script type="text/javascript">
function show_reply_form(comment_id, url, person_name) {
    var comment_reply = $('#' + comment_id);
    var to_add = $( new Array(
    '<div class="response"><p>Reply to ' + person_name + ':</p>',
    '<form method="POST" action="' + url + '">',
    '<ul>',  '{{ form.as_ul|oneline }}',
    '<li><input type="submit" value="Submit Comment" /></li>',
    '</ul>', '</form>', '</div>').join(''));
    to_add.css("display", "none");
    comment_reply.after(to_add);
    to_add.slideDown(function() {
        comment_reply.replaceWith(new Array('<a id="',
        comment_id,'" href="javascript:hide_reply_form(\'',
        comment_id, '\',\'', url, '\',\'', person_name,
        '\')">Stop Replying</a>').join(''));
    });
}
function hide_reply_form(comment_id, url, person_name) {
    var comment_reply = $('#' + comment_id);
    comment_reply.next().slideUp(function (){
        comment_reply.next('.response').remove();
        comment_reply.replaceWith(new Array('<a id="',
        comment_id,'" href="javascript:show_reply_form(\'',
        comment_id, '\',\'', url, '\',\'', person_name,
        '\')">Reply</a>').join(''));
    });
}
</script>

</div>

{% endblock %}

{% block sideadblock %}
	{% include "inc/adbox_blog_sidebar.html" %}
{% endblock %}

