<div id="adLeader">
	<!--<script type="text/javascript">
	  GA_googleFillSlot("728x90DDComicPageTop");
	</script>--> 
		<!-- AD TAG BEGINS: DrunkDuck(gr.drunkduck) / ros_atf / 728x90 --> 
	<script type="text/javascript"> 
		var gr_ads_zone = 'ros_atf';
		var gr_ads_size = '728x90';
	</script> 
	<script type="text/javascript" src="http://a.giantrealm.com/gr.drunkduck/a.js"> 
	</script> 
	<noscript> 
		<a href="http://ans.giantrealm.com/click/gr.drunkduck/ros_atf;tile=1;sz=728x90;ord=1234567890"> 
			<img src="http://ans.giantrealm.com/img/gr.drunkduck/ros_atf;tile=1;sz=728x90;ord=1234567890" width="728" height="90" alt="advertisement" /> 
		</a> 
	</noscript> 
	<!-- AD TAG ENDS: DrunkDuck / ros_atf / 728x90 -->
	
</div>