<div id="adBox">
	<!-- AD TAG BEGINS: POP Galaxy / homepage_atf / 300x250 --> 
	<script language=javascript src="http://ads.addynamix.com/creative/2-2127754-2j?"></script>
	<noscript language=javascript><a href="http://ads.addynamix.com/click/2-2127754-2"><img src="http://ads.addynamix.com/creative/2-2127754-2" border=0></a></noscript> 
<!--	 AD TAG ENDS: POP Galaxy / homepage_atf / 300x250 -->
<!--	<a href="https://secure.palmcoastd.com/pcd/eSv?iMagId=0815B&i4Ky=1119" target="new"><img src="{{ MEDIA_URL }}images/promos/studioW_maxim_ca_300x250_01.jpg"/></a>-->
<!--	<a href="http://www.fandango.com/gulliverstravels2010_130083/movietimes?wss=wowiogulliverstravels"><img src="{{ MEDIA_URL }}images/promos/fandango_gt_pg_300x250.png" /></a>-->

<!--	<a href="http://www.adminder.com/c.cgi?survey&pg"><img src="{{ MEDIA_URL }}images/promos/vgm_300x250_01_zP.jpg" /></a>-->
<!--
	<a href="http://www.facebook.com/pages/Scouts-Honor/135331279838652"><img src="{{ MEDIA_URL }}images/promos/studioW_scoutshonor_popgalaxy_300x250.jpg" /></a>
-->
<!--
	<a href="www.vgmarketsurveys.com?campaign=wowio&adgroup=pg"><img src="{{ MEDIA_URL }}images/promos/vgm_pg_300x250.jpg" /></a>
-->
</div>
