<div id="adBox">
	<!-- AD TAG BEGINS: POP Galaxy / homepage_atf / 300x250 --> 
	<script language=javascript src="http://ads.addynamix.com/creative/2-2127754-2j?"></script>
	<noscript language=javascript><a href="http://ads.addynamix.com/click/2-2127754-2"><img src="http://ads.addynamix.com/creative/2-2127754-2" border=0></a></noscript> 
	<!-- AD TAG ENDS: POP Galaxy / homepage_atf / 300x250 -->
{#	<a href="http://www.vgmarketsurveys.com?campaign=wowio&adgroup=pg"><img src="{{ MEDIA_URL }}images/promos/vgm_pg_300x250.png" /></a>#}
</div>
