<div id="adLeader" style="width: 728px; height: 90px; background: none;">
	<!-- AD TAG BEGINS: POP Galaxy / ros_atf / 728x90 -->
		<script language=javascript src="http://ads.addynamix.com/creative/2-2127754-1j?"></script>
		<noscript language=javascript><a href="http://ads.addynamix.com/click/2-2127754-1"><img src="http://ads.addynamix.com/creative/2-2127754-1" border=0></a></noscript>
<!--	 AD TAG ENDS: POP Galaxy / ros_atf / 728x90 -->
<!--	<a href="https://secure.palmcoastd.com/pcd/eSv?iMagId=0815B&i4Ky=1119" target="new"><img src="{{ MEDIA_URL }}images/promos/studioW_maxim_ca_728x90_01.jpg"/></a>-->
<!--	<a href="http://fandango.com" style="text-decoration: none; display: inline-block; width: 728px; height: 90px; background: none;"></a>-->
<!--	<a href="http://www.adminder.com/c.cgi?survey&pg"><img src="{{ MEDIA_URL }}images/promos/vgm_728x90_01_zP.jpg" /></a>-->
</div>
